body {
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
  color: white !important;
}
/* header style  */
.bg-header {
  color: white;
  background-color: #264653;
}
.ad-text {
  font-size: 16px;
  color: #e0e0e0;
}
.button {
  color: white;
  background-color: #e76f51;
}
.button a {
  color: white;
}
.text-color {
  color: #e76f51;
}
.f-img {
  filter: grayscale(100%);
}
.gray-text {
  color: #7e848c;
}
.mobile {
  display: none;
}
@media only screen and (min-width: 1000px) {
  .app {
    position: relative;
    right: 5rem;
  }
}
@media only screen and (max-width: 600px) {
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
}
