body {
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
  color: white !important;
}
/* header style  */
.bg-header {
  color: white;
  background-color: #264653;
}
.ad-text {
  font-size: 16px;
  color: #e0e0e0;
}
.button {
  color: white;
  background-color: #e76f51;
}
.button a {
  color: white;
}
.text-color {
  color: #e76f51;
}
.f-img {
  filter: grayscale(100%);
}
.gray-text {
  color: #7e848c;
}
.mobile {
  display: none;
}
@media only screen and (min-width: 1000px) {
  .app {
    position: relative;
    right: 5rem;
  }
}
@media only screen and (max-width: 600px) {
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
  .shop img {
    width: 30%;
  }
  .shop a {
    display: flex;
    border: none !important;
  }
  .shop {
    grid-row-gap: 30px;
  }
}

/* ---------------
      eid offer style  
  -----------------------------*/
.eid-offer img {
  width: 100%;
}
.eid-offer {
  position: relative;
}
.offer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}
.text {
  position: relative;
  text-align: center;
  color: white;
}
.eid-offer:hover .offer {
  display: block;
  opacity: 1;
}
.eid-offer:hover .text {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

/* ----------------
      newsletter style  
---------------------------------*/

#email {
  padding: 5px;
}
.shop a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.shop a img {
  max-width: 90%;
}
